* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat';
}

body {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.webkik-header {
  position: absolute;
}

.webkik-header__logo {
  margin: 30px 0 0 30px;
}

.webkik-header__logo-link {
  height: 100%;
  width: 100%;
}

.colors-types {
  min-height: 100vh;
  height: 100%;
  max-height: 100%;
  max-width: 97vw;
  padding: 0 8vw;
  padding-top: 145px;
  padding-bottom: 145px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.item-colors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding-right: 40px;
  width: 282px;
}

.item-colors:not(:last-child) {
  margin-bottom: 20px;
}

.item-colors__color {
  background-color: #1F2041;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 70px;
}

.item-colors__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.item-colors__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1F2041;
}

.item-colors__subtitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1F2041;
}

.color {
  background-color: #1F2041;
}

.color_trans-75 {
  background: rgba(31, 32, 65, 0.75);
}

.color_trans-50 {
  background: rgba(31, 32, 65, 0.5);
}

.color_trans-25 {
  background: rgba(31, 32, 65, 0.25);
}

.color_trans-5 {
  background: rgba(31, 32, 65, 0.05);
}

.color_purple {
  background: #BC9CFF;
}

.color_green {
  background: #6FCF97;
}

.types {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30vw;
      -ms-flex: 0 0 30vw;
          flex: 0 0 30vw;
}

.types .text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.types .text-block span {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 37px;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
}

.types .text-block_h2 span {
  font-size: 19px;
  line-height: 23px;
}

.types .text-block_h3 span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.types .text-block_body span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.types .text-block:not(:last-child) {
  margin-bottom: 50px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
}

h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1F2041;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

@media (max-width: 570px) {
  .webkik-header__logo {
    display: none;
  }
  .colors-types {
    row-gap: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
  }
  .types {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90vw;
        -ms-flex: 0 0 90vw;
            flex: 0 0 90vw;
    padding: 0 1vw;
    max-width: 100vw;
  }
  .types .text-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    font-size: 18px;
    line-height: 1.2em;
  }
}

.text-field {
  width: 320px;
  height: 44px;
  border: solid 1px rgba(31, 32, 65, 0.25);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-left: 15px;
  position: relative;
}

.text-field:hover, .text-field :focus {
  border: solid 1px rgba(31, 32, 65, 0.5);
}

.text-field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.text-field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.text-field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.text-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.text-field_hover {
  border: solid 1px rgba(31, 32, 65, 0.5);
}

.text-field__link {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.text-field__img {
  margin-left: 15px;
  margin-top: 17px;
}

.text-field__sub {
  width: 266px;
  position: relative;
}

.text-field__arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 15px;
}

.menu {
  width: 320px;
  height: 44px;
  border: solid 1px rgba(31, 32, 65, 0.25);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-left: 15px;
  position: relative;
}

.menu p {
  margin-top: 9px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px;
}

.menu__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.menu__arrow-img {
  margin-left: 15px;
  margin-top: 17px;
}

.menu__item {
  list-style: none;
}

.rotate-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.date-dropdown {
  width: 150px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.date-dropdown__filter {
  width: 266px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: relative;
}

.date-dropdown__filter p {
  margin-top: 9px;
  margin-left: 15px;
}

.date-dropdown__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.date-dropdown__arrow-img {
  margin-left: 15px;
  margin-top: 17px;
}

.option {
  display: block;
  margin-bottom: 0.75em;
}

.check {
  margin-left: 30px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check__input:checked + .check__box {
  background: url("../img/form-elements/check-box_checked.svg") center center no-repeat;
  border: 1px solid #BC9CFF;
}

.check__input:focus + .check__box {
  border: 1px solid #BC9CFF;
}

.check__input:hover + .check__box {
  border: 1px solid #BC9CFF;
}

.check__box {
  margin-top: 2px;
  margin-left: -30px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.radiobtn {
  margin-left: 30px;
}

.radiobtn__box {
  margin-top: 2px;
  margin-left: -30px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.radiobtn__box::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  left: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #BC9CFF;
  display: none;
}

.radiobtn__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radiobtn__input:checked + .radiobtn__box::before {
  display: block;
}

.radiobtn__input:focus + .radiobtn__box {
  border: 1px solid #BC9CFF;
}

.radiobtn__input:hover + .radiobtn__box {
  border: 1px solid #BC9CFF;
}

.radiobtn:not(:last-child) {
  margin-right: 20px;
}

.form-elements {
  min-height: 1850px;
  max-height: 100%;
  max-width: 97vw;
  padding: 0 8vw;
  padding-top: 145px;
  padding-bottom: 145px;
}

.form-elements h3 {
  line-height: 24px;
}

.form-elements__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-elements__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 320px;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

.form-elements__input {
  width: 320px;
}

.form-elements__input:not(:last-child) {
  margin-bottom: 15px;
}

.form-elements__input_btns:not(:last-child) {
  margin-bottom: 40px;
}

.form-elements__input_btns h3 {
  line-height: 15px;
  margin-bottom: 17px;
}

.form-elements__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 24px;
}

.form-elements__dropdowns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-elements__dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-elements__dropdown h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

/*.webkik-header{
    position: absolute;
    &__logo{
    margin: 30px 0 0 30px;
    &-link{
        height: 100%;
        width: 100%;
    }
    }

}

.colors-types{
    height: 100vh;
    max-width: 97vw;
    padding: 0 8vw;
    padding-top: 145px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.item-colors{
    display: flex;
    column-gap: 40px;
    align-items: center;
    height: 70px;
    padding-right: 40px;
    width: 282px;
    &:not(:last-child){
        margin-bottom: 20px;
    }
    &__color{
        background-color: #1F2041;
        border-radius: 6px;
        flex: 0 0 70px;
        height: 70px;

    }
    &__text{
        flex: 0 0 auto;
    }
    &__title{
        font-weight: 700;
        font-size: 19px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #1F2041;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #1F2041;
    }
}

.color{
    background-color: #1F2041;
    &_trans-75{
        background: rgba(31, 32, 65, 0.75);
    }
    &_trans-50{
        background: rgba(31, 32, 65, 0.50);
    }
    &_trans-25{
        background: rgba(31, 32, 65, 0.25);
    }
    &_trans-5{
        background: rgba(31, 32, 65, 0.05);
    }
    &_purple{
        background: #BC9CFF;
    }
    &_green{
        background: #6FCF97;
    }
}

.types{
    width: 100%;
    flex: 0 0 30vw;
    .text-block{
        display: flex;
        column-gap: 30px;
        span{
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-align: right;
            color: rgba(31, 32, 65, 0.25);
            text-align: right;
            flex: 0 0 37px;
        }
        &_h2{
            span{
                font-size: 19px;
                line-height: 23px;
            }
        }
        &_h3{
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
            }
        }
        &_body{
            span{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                text-align: right;
                color: rgba(31, 32, 65, 0.25);
            }
        }
        &:not(:last-child){
            margin-bottom: 50px;
        }
    }
}
.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

h2{
    font-weight: 700;
font-size: 19px;
line-height: 23px;
color: #1F2041;
}
h3{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

}

@media (max-width: 570px){
    .webkik-header{
        &__logo{
        margin: 15px 0 0 15px;
        }
    }
    .colors-types{
        row-gap: 50px;
        justify-content: center;
        padding-top: 90px;
    }

    .types{
        flex: 0 0 90vw;
        padding: 0 1vw;
        max-width: 100vw;
        .text-block{
            align-items: center;
            
        }
    }

    .title{
        font-size: 18px;
        line-height: 1.2em;
    }
}*/
